* { }

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: #585858;
}

a {
  color: #428BCA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #2a6496;
}

pre.request {
  color: grey;
}

.instance-id,
  .counter,
  .visitor {
  color: #428BCA;
}

/* steps */

ol.steps {
  margin: 40px 0 60px;
  padding:0;
  text-align: center;
}

ol.steps li {
  list-style-type: none;
  display: inline-block;
}

.step-btn {
  display: block;
  border: 1px solid #428BCA;
  color: #428BCA;
  font-size: 26px;
  font-weight: 100;
  padding: 12px;
  margin-right:15px;
  margin-bottom:15px;
  border-radius: 4px;
}

.step-btn--active {
  background: #428BCA;
  color: #ffffff;
}

.step-btn--disabled {
  color: rgba(56,188,212,.4);
  border: 1px solid rgba(56,188,212,.4);
}

.h-line {
  border-bottom: 1px solid #ccc;
  height: 0;
  margin: 20px 0;
}

.cmd-line {
  margin-top: 20px;
}

.cmd-line li {
  margin: 0;
  padding: 0;
}

.cmd-line li pre, .deployment pre, .database pre {
  background-color: #f7f7f7;
  border-radius: 3px;
  padding: 10px;
}

.cmd-line--symbol {
  color: #428BCA;
}

.cmd-line--option {
  color: gray;
}

.container {
  margin: 0 auto;
  margin-top: 45px;
  max-width: 560px;
}

.sidebar {
  position: fixed;
  top: 30px; left: 30px;
}

.logo {
  margin: 0 auto;
  width: 122px;
}

.azk-name {
  background: #428BCA;
  border-top-left-radius: 999em;
  border-top-right-radius: 999em;
  border-bottom-right-radius: 999em;
  border-bottom-left-radius: 999em;
  color: #fff;
  display:inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  text-transform: lowercase;
}

.footer {
  margin-top:40px;
  text-align: center;
}

p.copyright {
  margin:30px auto;
  color: grey;
  text-align: center;
}

.azuki {
  display:inline-block;
  padding:12px 5px 12px;
  background: #3c4959;
  color: #fff;
  font-weight: bold;
  margin-bottom:15px;
}

.social-medias { padding-left: 27px; }

.social-medias li { list-style: none; }

.icon {
  background: url('/static/assets/images/sprite-social-media.png');
  background-size: 300px 107px;
  display:block;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.icon--circle {
  /*border: 1px solid #929294;*/
  border: 1px solid rgba(146,146,148,.3);
  border-top-left-radius: 999em;
  border-top-right-radius: 999em;
  border-bottom-right-radius: 999em;
  border-bottom-left-radius: 999em;
}

.icon--link { background-position: -8px 0px; }
.icon--github { background-position: -162px 0px; }
.icon--facebook { background-position: -85px 0px; }
.icon--twitter { background-position: -540px 0px; }

.icon--link:hover { border-color: #3c4959; background-position: -8px -50px; }
.icon--github:hover { border-color: #000000; background-position: -162px -50px; }
.icon--facebook:hover { border-color: #425f9b; background-position: -85px -50px; }
.icon--twitter:hover { border-color: #55acef; background-position: -540px -50px; }

/* Media Queries */

@media (max-width: 900px) {
  .logo {
    width: 90px;
    height: 93px;
  }

  .social-medias { padding-left: 17px; }

  .icon {
    width: 40px;
    height: 40px;
    margin: 7px;
  }

  .icon--link { background-position: -14px -6px; }
  .icon--github { background-position: -167px -6px; }
  .icon--facebook { background-position: -89px -7px; }
  .icon--twitter { background-position: -545px -7px; }

  .icon--link:hover { background-position: -14px -56px; }
  .icon--github:hover {  background-position: -167px -56px; }
  .icon--facebook:hover { background-position: -89px -58px; }
  .icon--twitter:hover { background-position: -545px -58px; }

}

@media (max-width: 800px) {
  .logo {
    width: 150px;
    height: 155px;
  }
  .sidebar {
    margin-top:30px;
    text-align:center;
    position: inherit;
  }
  ul.social-medias { display: none; }
}



/* GALLERY */

.gallery__about {
  margin-top: 20px;
  margin-bottom: 30px;
}

.gallery__about p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #666666;
}

#gallery {
  position: relative;
  overflow:auto;

}

.gallery__item {
  position: relative;
  float:left;
  display:inline-block;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  padding: 15px 15px;
  margin: 0 20px 30px 0;
  width: 141px;
}
.gallery__item:last-child {
  margin-right: 0;
}

.gallery__item:hover {
  border: 1px dotted rgba(66,137,199,.8);
}

.gallery__item__project-thumb {
  margin: 10px 0 30px;
}

.gallery__lead {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  color: #666666;
  line-height: 34px;
}

.gallery__item__project-name {
  margin:0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: rgba(0,0,0,.7);
  line-height: 24px;
}

.gallery__item__project-lang {
  font-family: Helvetica;
  font-weight: 300;
  font-size: 12px;
  color: rgba(0,0,0,.4);
  line-height: 14px;
  position: absolute;
  bottom: 35px;
  right: 20px;
}

.gallery__item__project-fork {
  font-family: Helvetica;
  font-size: 13px;
  color: rgba(0,0,0,.4);
  line-height: 17px;
}

.gallery__item__project-author {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,.3);
  line-height: 16px;
}

.gallery__item__project-author em {
  color: rgba(0,0,0,.5);

}


.gallery__item:hover .gallery__item__project-description {
  opacity: 1;
}

.gallery__item__project-description {
  position: absolute;
  top:0;
  left:0;
  background: #FFF;
  font-size: 14px;
  padding: 10px;
  height: 165px;
  opacity: 0;
  transition: opacity .2s ease-in;
}

.gallery__item__project-description p {
  color: rgba(0,0,0,0.7);
  line-height: 22px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  position: relative;
  word-break: break-word;
  text-align:center;
  top: 0px;
  /*-webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
}

.gallery__item-anchor-wrapper {
  text-decoration: none;
  display: block;
  position: absolute;
  left:08px;
}

.gallery__item__run-project-btn {
  position: relative;
  opacity: .8;
  transition: opacity .2s ease-in;
  display:block;
}

.gallery__item__run-project-btn:hover {
  opacity: 1;
}

.gallery__item__run-project-btn:active {
  top:1px;
}

.text-center {
  text-align: center;
}

.plus-projects {
  font-size: 70px;
  color: rgba(0,0,0,.1);
  margin: 0;
  margin-top:62px;
}

.gallery__item.last-child {
  height: 160px;
}
