
      <h2>Que tal tentar alguns outros comandos?</h2>

      <ul class="cmd-line">
        <li>
          <p>Mostra logs dos containers (<a href="http://docs.azk.io/pt-BR/reference/cli/logs.html" target="_blank">Ver doc</a>)</p>
          <pre><span class="cmd-line--symbol">$</span> azk logs <span class="cmd-line--option">[system name]</span> <span class="cmd-line--option">[--tail]</span></pre>
        </li>
        <li>
          <p>Aumenta/diminui um sistema a uma [quantidade]  de instâncias (<a href="http://docs.azk.io/pt-BR/reference/cli/scale.html" target="_blank">Ver docs</a>)</p>
          <pre><span class="cmd-line--symbol">$</span> azk scale <span class="cmd-line--option">[system name]</span> <span class="cmd-line--option">[quantity]</span></pre>
        </li>
        <li>
          <p>Exibe o status da instância ou de todos os sistemas a partir do Azkfile.js encontrado (<a href="http://docs.azk.io/pt-BR/reference/cli/status.html" target="_blank">See ver</a>)</p>
          <pre><span class="cmd-line--symbol">$</span> azk status</pre>
        </li>
        <li>
          <p>Para visualizar todos os comandos e opções (<a href="http://docs.azk.io/pt-BR/reference/cli/help.html" target="_blank">Ver docs</a>)</p>
          <pre><span class="cmd-line--symbol">$</span> azk help</pre>
        </li>
      </ul>

      <div class="h-line"> &nbsp; </div>

      <h2>Deseja ver alguns exemplos de aplicação mais complexas? <br>Veja os projetos abaixo rodando com <span class="azk-name">azk</span> :</h2>
      <ul class="projects">
        <li>
          <a href="https://github.com/heitortsergent/evernote-sdk-js/" target="_blank">Evernote JS SDK</a> - Esta é uma aplicação básica que utiliza Node.js, Express e a SDK de javascript do Evernote que mostra o uso básico da API do Evernote.
        </li>
        <li>
          <a href="https://github.com/azukiapp/meli-questions" target="_blank">Meli Questions</a> - esta é uma pequena aplicação para testar webhooks de perguntas do Mercadolivre que utiliza Node.js, Express, oAuth2, MongoDB e ngrok para redirecionar os webhooks para a aplicação.
        </li>
        <li>
          <a href="https://github.com/heitortsergent/feedbin" target="_blank">Feedbin</a> - Esta é uma aplicação mais complexa que utiliza Ruby/Rails, Postgres, Redis, ElasticSearch, Memcached, Sidekiq (sistema de fila de tarefas assíncrona) e Clockwork (performa tarefas agendadas).
        </li>
      </ul>
