
      <h2>How about trying some other commands?</h2>

      <ul class="cmd-line">
        <li>
          <p>Show containers logs (<a href="http://docs.azk.io/en/reference/cli/logs.html" target="_blank">See docs</a>)</p>
          <pre><span class="cmd-line--symbol">$</span> azk logs <span class="cmd-line--option">[system name]</span> <span class="cmd-line--option">[--tail]</span></pre>
        </li>
        <li>
          <p>Scale a system to [quantity] instances (<a href="http://docs.azk.io/en/reference/cli/scale.html" target="_blank">See docs</a>)</p>
          <pre><span class="cmd-line--symbol">$</span> azk scale <span class="cmd-line--option">[system name]</span> <span class="cmd-line--option">[quantity]</span></pre>
        </li>
        <li>
          <p>Show status for all declared systems (<a href="http://docs.azk.io/en/reference/cli/status.html" target="_blank">See docs</a>)</p>
          <pre><span class="cmd-line--symbol">$</span> azk status</pre>
        </li>
        <li>
          <p>To show all commands and options (<a href="http://docs.azk.io/en/reference/cli/help.html" target="_blank">See docs</a>)</p>
          <pre><span class="cmd-line--symbol">$</span> azk help</pre>
        </li>
      </ul>

      <div class="h-line"> &nbsp; </div>

      <h2>Want to see more complex examples? <br>Check out the following projects running with <span class="azk-name">azk</span> :</h2>
      <ul class="projects">
        <li>
          <a href="https://github.com/heitortsergent/evernote-sdk-js/" target="_blank">Evernote JS SDK</a> - This is a sample application using Node.js, Express, and the Evernote javascript SDK that shows the basic Evernote’s API usage.
        </li>
        <li>
          <a href="https://github.com/azukiapp/meli-questions" target="_blank">Meli Questions</a> - This is a small application to test MercadoLibre's questions webhooks using Node.js, Express, oAuth2, MongoDB and ngrok to redirect webhooks to the application.
        </li>
        <li>
          <a href="https://github.com/heitortsergent/feedbin" target="_blank">Feedbin</a> - This is a more complex application which uses Rails, Postgres, Redis, ElasticSearch, Memcached, Sidekiq (async queue system) and Clockwork (to perform timeable tasks).
        </li>
      </ul>
