
      <h2>1. Plugue o banco de dados</h2>
      <p>Esta aplicação possui suporte a um simples contador de visita mas, para rodar, necessita conectar a uma aplicação Redis.</p>
      <p>Você pode plugar um banco de dados <a href="http://docs.azk.io/en/getting-started/database.html" target="_blank">seguindo estas instruções</a>.</p>
