
      <h2>1. Plugging the database</h2>
      <p>This demo application has an simple visitor account support but it needs a Redis application to have it running.</p>
      <p>You can plug the database by <a href="http://docs.azk.io/en/getting-started/database.html" target="_blank">following these instructions</a>.</p>
