<div class="database">
<h1>Adicione o banco de dados</h1>
<p>Esta aplicação possui suporte a um simples contador de visitas mas, para vê-lo, é necessário adicionar um banco de dados Redis.</p>
<p>Você pode plugar um banco de dados seguindo estas instruções:</p>

<ol>
  <li><a href="#database-step-1">Adicionar o Redis ao Azkfile</a></li>
  <li><a href="#database-step-2">Iniciar o Redis</a></li>
  <li><a href="#database-step-3">Adicionar pacote 'redis'</a></li>
  <li><a href="#database-step-4">Adicionar o Redis como dependência do <strong>azkdemo</strong></a></li>
  <li><a href="#database-step-5">Reiniciar o <strong>azkdemo</strong></a></li>
</ol>

<div class="h-line"> &nbsp; </div>

<h2 id="database-step-1">1. Adicionar o Redis ao Azkfile</h2>
<p>Adicione o seguinte trecho ao Azkfile (em seguida do fechamento do sistema <strong>azkdemo</strong>):</p>

<pre><code> redis: {
    image: { docker: "redis" },
    export_envs: {
      "DATABASE_URL": "redis://#{net.host}:#{net.port[6379]}"
    }
  }
</code></pre>

<div class="h-line"> &nbsp; </div>

<h2 id="database-step-2">2. Iniciar o Redis</h2>
<pre> <span class="cmd-line--symbol">$</span> azk start <span class="cmd-line--option">redis</span></pre>

<div class="h-line"> &nbsp; </div>

<h2 id="database-step-3">3. Adicionar o pacote 'redis'</h2>
<pre>
  <span class="cmd-line--symbol">$</span> azk shell <span class="cmd-line--option">azkdemo</span>
  <span class="cmd-line--symbol">#</span> npm install <span class="cmd-line--option">redis</span> --save
</pre>

<div class="h-line"> &nbsp; </div>

<h2 id="database-step-4">4. Adicionar o sistema Redis como dependência do <strong>azkdemo</strong></h2>

Altere a propriedade 'depends' do sistema <strong>azkdemo</strong> em seu Azkfile:

<pre><code> systems({
    azkdemo: {
      // Dependent systems
      depends: ["redis"], // <= Adicione aqui o sistema 'redis'
      // ...
    },
    redis: {
      // ...
    }
  });
</code></pre>

<div class="h-line"> &nbsp; </div>

<h2 id="database-step-5">5. Reiniciar o <strong>azkdemo</strong></h2>
<pre>
  <span class="cmd-line--symbol">$</span> azk restart <span class="cmd-line--option">azkdemo</span>
</pre>

</div>
