
      <h2>1. Adding the database</h2>
      <p>This demo application has a simple visitor counter, but it needs a Redis database to show it.</p>
      <p>You can learn how to do this by <a href="http://docs.azk.io/en/getting-started/database.html" target="_blank">following these instructions</a>. :)</p>
