<form id="myform">
  <ul class="send">
    <li>Msgs:</li>
    <li>
      <textarea name="mensage" style="text-align: left; padding: 10px 20px; border: 1px solid #e7e7e7; width:400px; height:200px; font-size: 16px" id="emails_received">Ola</textarea>
    </li>
    <li>
      To: <input style="font-size: 16px; width: 370px" name="email" value="everton@azukiapp.com" />
    </li>
    <li>
      <input type="submit" value="Send e-mail">
    </li>
  </ul>
</form>
